<div ng-app="appRoute"  ng-controller="adminController as ctrl" layout-fill layout="column" layout-align="center">
  <div layout="row" layout-align="center">
    <md-card class="adminMainBtnsCard">
      <div layout="row"  layout-align="center center">
        <h2 style="color:white;">Parking App</h2>
      </div>
    </md-card>
  </div>

  <div layout="row" layout-align="center">
    <md-card class="adminMainCard">
      <div layout="row" layout-sm="column" layout-xs="column" ng-show="dbkgShow">

        <div flex="100">
          <md-card >
            <md-card-title>
              <md-card-title-text>
                <div><h3 class="md-flex" >Parking Status View</h3></div>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <div ng-cloak>
                <md-content class="deskBookingCard" >
                    <md-tabs md-border-bottom md-autoselect md-stretch-tabs="tbar">

                    <md-tab label="Electronic City" md-on-select="hideChartDiv()" >
                      <div style="padding: 25px; text-align: center;">
                       <button class="floorBtn" ng-click="fetchBookings('Electronic City','Ground Floor')">GF<md-tooltip md-direction="bottom">Ground Floor</md-tooltip></button>
                       <button  class="floorBtn" ng-click="fetchBookings('Electronic City','1st Floor')">&nbsp;1F<md-tooltip md-direction="bottom">1<sup>st</sup> Floor</md-tooltip></button>
                       <button  class="floorBtn" ng-click="fetchBookings('Electronic City','2nd Floor')">2F&nbsp;<md-tooltip md-direction="bottom">2<sup>nd</sup> Floor</md-tooltip></button>
                       <button  class="floorBtn" ng-click="fetchBookings('Electronic City','3rd Floor')">3F&nbsp;<md-tooltip md-direction="bottom">3<sup>rd</sup> Floor</md-tooltip></button>
                     </div>
                    <center><div id="chart_divDesk" ng-if="showChartDiv" ><div id="chart_divDeskFareham" ></div></div></center>
                    </md-tab>

                    <md-tab label="Sarjapur">
                      <div style="padding: 25px; text-align: center;">
                       <button class="floorBtn" ng-click="fetchBookings('Sarjapur','Ground Floor')">GF<md-tooltip md-direction="bottom">Ground Floor</md-tooltip></button>
                       <button  class="floorBtn" ng-click="fetchBookings('Sarjapur','1st Floor')">&nbsp;1F<md-tooltip md-direction="bottom">1<sup>st</sup> Floor</md-tooltip></button>
                       <button  class="floorBtn" ng-click="fetchBookings('Sarjapur','2nd Floor')">2F&nbsp;<md-tooltip md-direction="bottom">2<sup>nd</sup> Floor</md-tooltip></button>
                       <button  class="floorBtn" ng-click="fetchBookings('Sarjapur','3rd Floor')">3F&nbsp;<md-tooltip md-direction="bottom">3<sup>rd</sup> Floor</md-tooltip></button>
                     </div>
                    <center><div id="chart_divDeskSarjapur" ng-if="showChartDiv" ><div id="chart_divDeskFareham" ></div></div></center>
                  </md-tab>

                  <md-tab label="Koramangala">
                    <div style="padding: 25px; text-align: center;">
                     <button class="floorBtn" ng-click="fetchBookings('Koramangala','Ground Floor')">GF<md-tooltip md-direction="bottom">Ground Floor</md-tooltip></button>
                     <button  class="floorBtn" ng-click="fetchBookings('Koramangala','1st Floor')">&nbsp;1F<md-tooltip md-direction="bottom">1<sup>st</sup> Floor</md-tooltip></button>
                     <button  class="floorBtn" ng-click="fetchBookings('Koramangala','2nd Floor')">2F&nbsp;<md-tooltip md-direction="bottom">2<sup>nd</sup> Floor</md-tooltip></button>
                     <button  class="floorBtn" ng-click="fetchBookings('Koramangala','3rd Floor')">3F&nbsp;<md-tooltip md-direction="bottom">3<sup>rd</sup> Floor</md-tooltip></button>
                   </div>
                  <center><div id="chart_divDeskKoramangala" ng-if="showChartDiv" ><div id="chart_divDeskFareham" ></div></div></center>
                  </md-tab>

                    <md-tab label="Whitefield">
                      <div style="padding: 25px; text-align: center;">
                       <button class="floorBtn" ng-click="fetchBookings('Whitefield','Ground Floor')">GF<md-tooltip md-direction="bottom">Ground Floor</md-tooltip></button>
                       <button  class="floorBtn" ng-click="fetchBookings('Whitefield','1st Floor')">&nbsp;1F<md-tooltip md-direction="bottom">1<sup>st</sup> Floor</md-tooltip></button>
                       <button  class="floorBtn" ng-click="fetchBookings('Whitefield','2nd Floor')">2F&nbsp;<md-tooltip md-direction="bottom">2<sup>nd</sup> Floor</md-tooltip></button>
                       <button  class="floorBtn" ng-click="fetchBookings('Whitefield','3rd Floor')">3F&nbsp;<md-tooltip md-direction="bottom">3<sup>rd</sup> Floor</md-tooltip></button>
                     </div>
                    <center><div id="chart_divDeskWhitefield" ng-if="showChartDiv" ><div id="chart_divDeskFareham" ></div></div></center>
                    </md-tab>
                  </md-tabs>

                </md-content>
              </div>
            </md-card-content>
          </md-card>
        </div>

        <!-- <div flex="60">
          <md-card ng-init="ShowAnalytics('Desk Booking','Daily')">
            <md-card-title>
              <md-card-title-text>
                <div><h3 class="md-flex" >Trend Analysis</h3></div>
              </md-card-title-text>
            </md-card-title>
            <md-card-content >
              <div ng-cloak>
                <md-content class="trendAnalysis" >
                  <md-card>
                    <div style="padding: 30px; text-align: center;">
                     <button class="taBtn"  ng-click="ShowAnalytics('Desk Booking','Daily')">&nbsp;D<md-tooltip md-direction="bottom">Daily</md-tooltip></button>
                     <button class="taBtn" ng-click="ShowAnalytics('Desk Booking','Weekly')">W<md-tooltip md-direction="bottom">Weekly</md-tooltip></button>
                     <button class="taBtn" ng-click="ShowAnalytics('Desk Booking','Monthly')">M<md-tooltip md-direction="bottom">Monthly</md-tooltip></button>
                   </div>
                   <center><div id="ShowAnalyticsGraphDesk"></div></center>
                  </md-card>
                </md-content>
              </div>
            </md-card-content>
          </md-card>
        </div> -->
      </div>
<!--
      <div layout="row" layout-sm="column" layout-xs="column" ng-show="rbkgShow">
        <div flex="40">
          <md-card >
            <md-card-title>
              <md-card-title-text>
                <div><h3 class="md-flex" >Room Occupancy</h3></div>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <div ng-cloak>
                <md-content class="roomBookingCard">
                  <md-tabs md-border-bottom md-autoselect md-stretch-tabs="tbar">
                    <md-tab label="Fareham" md-on-select="hideChartDiv()">
                      <div layout="row" layout-align="center center">
                        <img src="../images/tower.png"></img>
                        <md-input-container>
                          <md-select placeholder="Select Tower" ng-change="hideChartDiv()" ng-model="bTypeR1.Tower" md-on-open="loadTowers()" style="min-width: 200px;">
                            <md-option ng-value="Tower" ng-repeat="Tower in Towers">{{Tower.name}}</md-option>
                          </md-select>
                        </md-input-container>
                      </div>
                      <div style="padding: 25px; text-align: center;" ng-if="bTypeR1.Tower">
                        <button class="seaterBtn" ng-click="fetchBookings('Room Booking','Fareham',bTypeR1.Tower,'4 - Seater')">&nbsp;4S<md-tooltip md-direction="bottom">4 - Seater</md-tooltip></button>
                        <button  class="seaterBtn" ng-click="fetchBookings('Room Booking','Fareham',bTypeR1.Tower,'8 - Seater')">8S&nbsp;<md-tooltip md-direction="bottom">8 - Seater</md-tooltip></button>
                      </div>
                      <center><div id="chart_divRoom" ng-if="showChartDiv"><div id="chart_divRoomFareham"></div></div></center>
                    </md-tab>
                    <md-tab label="Swindon" md-on-select="hideChartDiv()">
                    <div layout="row" layout-align="center center">
                      <img src="../images/tower.png"></img>
                      <md-input-container>
                        <md-select placeholder="Select Tower" ng-change="hideChartDiv()" ng-model="bTypeR2.Tower" md-on-open="loadTowers()" style="min-width: 200px;">
                          <md-option ng-value="Tower" ng-repeat="Tower in Towers">{{Tower.name}}</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div style="padding: 25px; text-align: center;" ng-if="bTypeR2.Tower">
                      <button class="seaterBtn" ng-click="fetchBookings('Room Booking','Swindon',bTypeR2.Tower,'4 - Seater')">&nbsp;4S<md-tooltip md-direction="bottom">4 - Seater</md-tooltip></button>
                      <button  class="seaterBtn" ng-click="fetchBookings('Room Booking','Swindon',bTypeR2.Tower,'8 - Seater')">8S&nbsp;<md-tooltip md-direction="bottom">8 - Seater</md-tooltip></button>
                    </div>
                    <center><div id="chart_divRoom" ng-if="showChartDiv"><div id="chart_divRoomSwindon"></div></div></center>
                    </md-tab>
                    <md-tab label="Cheltenham" md-on-select="hideChartDiv()">
                    <div layout="row" layout-align="center center">
                    <img src="../images/tower.png"></img>
                    <md-input-container>
                      <md-select placeholder="Select Tower" ng-change="hideChartDiv()" ng-model="bTypeR3.Tower" md-on-open="loadTowers()" style="min-width: 200px;">
                        <md-option ng-value="Tower" ng-repeat="Tower in Towers">{{Tower.name}}</md-option>
                      </md-select>
                    </md-input-container>
                    </div>
                    <div style="padding: 25px; text-align: center;" ng-if="bTypeR3.Tower">
                    <button class="seaterBtn" ng-click="fetchBookings('Room Booking','Cheltenham',bTypeR3.Tower,'4 - Seater')">&nbsp;4S<md-tooltip md-direction="bottom">4 - Seater</md-tooltip></button>
                    <button  class="seaterBtn" ng-click="fetchBookings('Room Booking','Cheltenham',bTypeR3.Tower,'8 - Seater')">8S&nbsp;<md-tooltip md-direction="bottom">8 - Seater</md-tooltip></button>
                    </div>
                    <center><div id="chart_divRoom" ng-if="showChartDiv"><div id="chart_divRoomCheltenham"></div></div></center>
                    </md-tab>
                </md-tabs>
                </md-content>
              </div>
            </md-card-content>
          </md-card>
        </div>

        <div flex="60">
          <md-card ng-init="ShowAnalytics('Room Booking','Daily')">
            <md-card-title>
              <md-card-title-text>
                <div><h3 class="md-flex" >Trend Analysis</h3></div>
              </md-card-title-text>
            </md-card-title>
            <md-card-content >
              <div ng-cloak>
                <md-content class="trendAnalysis" >
                  <md-card>
                    <div style="padding: 30px; text-align: center;">
                     <button class="taBtn"  ng-click="ShowAnalytics('Room Booking','Daily')">D<md-tooltip md-direction="bottom">Daily</md-tooltip></button>
                     <button class="taBtn" ng-click="ShowAnalytics('Room Booking','Weekly')">W<md-tooltip md-direction="bottom">Weekly</md-tooltip></button>
                     <button class="taBtn" ng-click="ShowAnalytics('Room Booking','Monthly')">M<md-tooltip md-direction="bottom">Monthly</md-tooltip></button>
                   </div>
                   <center><div id="ShowAnalyticsGraphRoom"></div></center>
                  </md-card>
                </md-content>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div> -->

    </md-card>
    </div>
</div>
